In [10]:
import yfinance as yf
import pandas as pd
from pandas_datareader import data as pdr

In [8]:
yf.pdr_override()

In [24]:
next = yf.Ticker("^IXIC")
data = pdr.get_data_yahoo("^IXIC ^N225 000001.SS ^FTSE ^AXJO NZG.NZ ^HSI ^STI ^NSEI ^MXX PSEI.PS IDX ^SET.BK ^KLSE", start="2015-01-01", end="2022-09-26")
data['Adj Close']

[*********************100%***********************]  14 of 14 completed

,000001.SS,IDX,NZG.NZ,PSEI.PS,^AXJO,^FTSE,^HSI,^IXIC,^KLSE,^MXX,^N225,^NSEI,^SET.BK,^STI
Date,,,,,,,,,,,,,,
2015-01-02,NaN,21.061039,NaN,NaN,5435.899902,6547.799805,23721.300781,4726.810059,1752.770020,42115.468750,NaN,8395.450195,NaN,3370.590088
2015-01-05,3350.519043,20.637524,NaN,7274.759277,5450.299805,6417.200195,23721.320312,4652.569824,1736.619995,41099.371094,17408.710938,8378.400391,1483.250000,3328.280029
2015-01-06,3351.446045,20.637524,NaN,7275.869141,5364.799805,6366.500000,23485.410156,4592.740234,1716.579956,41329.410156,16883.189453,8127.350098,1477.579956,3281.949951
2015-01-07,3373.954102,20.981630,NaN,7307.821289,5353.600098,6419.799805,23681.259766,4650.470215,1709.180054,41813.929688,16885.330078,8102.100098,1500.750000,3298.360107
2015-01-08,3293.456055,21.078682,NaN,7365.735840,5381.500000,6570.000000,23835.529297,4736.189941,1728.060059,42402.308594,17167.099609,8234.599609,1521.619995,3345.110107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-20,3122.409912,20.260000,2.435,6448.459961,6806.399902,7192.700195,18781.419922,11425.049805,1461.099976,47068.531250,27688.419922,17816.250000,1638.589966,3266.939941
2022-09-21,3117.179932,20.230000,2.430,6341.689941,6700.200195,7237.600098,18444.619141,11220.190430,1447.180054,46992.511719,27313.130859,17718.349609,1633.449951,3261.790039
2022-09-22,3108.909912,20.379999,2.434,6301.709961,NaN,7159.500000,18147.949219,11066.809570,1439.160034,46324.921875,27153.830078,17629.800781,1645.290039,3263.070068
2022-09-23,3088.370117,19.990000,2.410,6259.540039,6574.700195,7018.600098,17933.269531,10867.929688,1424.979980,45395.941406,NaN,17327.349609,1631.709961,3227.100098
2022-09-26,3051.229980,NaN,NaN,NaN,6469.399902,NaN,17855.140625,NaN,1413.040039,NaN,26431.550781,17016.300781,1621.250000,3181.969971

In [25]:
data['Adj Close'].to_csv('indexes', sep=',')